<header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
        <% if (locals.loggedin) { %>
            <!-- Welcome link visible only for logged-in users -->
            <span class="welcome-message">
                <a href="/account/" title="Go to your account">Welcome <%= locals.accountData.account_firstname %></a>
            </span>

            <!-- Logout link -->
            <a href="/account/logout" title="Click to log out">Logout</a>
            <% } else { %>
                <!-- My Account link for guests -->
                <a href="/account/login" title="Click to log in">My Account</a>
                <% } %>
    </div>
</header>