<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/inv/type/1">Custom</a></li>
    <li><a href="/inv/type/2">Sedan</a></li>
    <li><a href="/inv/type/3">Sport</a></li>
    <li><a href="/inv/type/4">SUV</a></li>
    <li><a href="/inv/type/5">Truck</a></li>
  </ul>
</nav>