    <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/custom">Custom</a></li>
          <li><a href="/services">Sedan</a></li>
          <li><a href="/">Sport</a></li>
          <li><a href="/about">SUV</a></li>
          <li><a href="/services">TRUCK</a></li>
        </ul>
    </nav>
