<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }

        h1 {
            color: red;
        }
    </style>
</head>

<body>
    <h1>Oops! Something went wrong.</h1>
    <p>
        <%= message %>
    </p>
    <a href="/">Go back home</a>
</body>

</html>